/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Klik på cirkel for at vise billede */
.mySlides {
  display: none;
}

/* frem og tilbage knapper */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Knappernes posistion */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Nummer tekst (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Styling af prikker */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 30px;
    margin: auto;
  }

/* h1 styling */

h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0,133,186);
    margin: auto;
    background-color: black;
    padding: 13px;
}

/* Position af tekst */

.text{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  text-align: center;
  font-weight: 70px;
}

/* Styling af tekst */

p{
  display: block;
  font-size: 15px;
  font-weight: 400;
  font-family: 'poppins', sans-serif;
  padding-bottom: 20px;
  
}

/* Footer styling */
.outer_footer {
    display: block;
    overflow: hidden;
    padding-top: 70px;
    box-sizing: border-box; 
    background-color: black;
  }
  
  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    text-align: center;
  }
  
  .inner_footer .footer_third h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: rgb(0,133,186);
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inner_footer img{
   height: 70px;
   }

  .inner_footer .footer_third a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  /* Footer slut */