/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
* {box-sizing:border-box}

/* menu */

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #37393a;
}

/* header */

.header {
  background-color: #e8eef2;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #e8eef2;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #c7d3dd;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.3em;
  padding: 17px 20px;
  text-decoration: none;
}

/* menu styling */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon styling */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* media quries/ reponsiv menu */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 70px;
}

/* Klik på cirkel for at vise billede */
.mySlides {
  display: none;
}

/* frem og tilbage knapper */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Knappernes posistion */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Nummer tekst (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Styling af prikker */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 30px;
    margin: auto;
  }

/* h1 styling */

h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0,133,186);
    margin: auto;
    background-color: black;
    padding: 13px;
}

/* Position af tekst */

.text{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  text-align: center;
  font-weight: 100;
}

/* Styling af tekst */

p{
  display: block;
  font-size: 15px;
  font-weight: 400;
  font-family: 'poppins', sans-serif;
  padding-bottom: 20px;
  
}

/* Footer styling */
.outer_footer {
    display: block;
    overflow: hidden;
    padding-top: 70px;
    box-sizing: border-box; 
    background-color: black;
  }
  
  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    text-align: center;
  }
  
  .inner_footer .footer_third h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: rgb(0,133,186);
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inner_footer img{
   height: 70px;
   }

  .inner_footer .footer_third a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  /* Footer slut */



